@import 'tailwindcss';

/* 1) Палитра (статична) */
:root {
  --oceanic: #15232d; /* Океаник — основной холодный фон */
  --firework: #f55449; /* Фейерверк — акцент/искры */
  --ash: #a69f9d; /* Серо-коричневый — нейтраль, фон/текст */
  --onyx: #0f1f38; /* Оникс — глубокий фон */
}

/* 2) Семантика (светлая тема по умолчанию) */
:root {
  --bg: var(--oceanic);
  --fg: var(--ash);
  --brand: var(--firework);
  --accent: var(--onyx);
  --muted: color-mix(in oklab, var(--fg) 20%, white);
}

/* 2b) Семантика для тёмной темы */
:root[data-theme='dark'] {
  --bg: var(--onyx);
  --fg: var(--ash);
  --brand: var(--firework);
  --accent: var(--oceanic);
  --muted: color-mix(in oklab, var(--fg) 60%, black);
}

/* 3) Маппинг в Tailwind-токены */
@theme inline {
  --color-oceanic: var(--oceanic);
  --color-firework: var(--firework);
  --color-ash: var(--ash);
  --color-onyx: var(--onyx);

  --color-background: var(--bg);
  --color-foreground: var(--fg);
  --color-primary: var(--brand);
  --color-secondary: var(--accent);
  --color-muted: var(--muted);
}

html {
  scroll-behavior: smooth;
}
